<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header"><a href="{{ site.baseurl }}/docs/api_ref.html#followTitle">Follow API</a></li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc1">DELETE /api​/Follow​/unfollowAll</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc2"></a>POST /api​/Follow​/followed</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc3"></a>POST /api​/Follow​/notifications</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc4"></a>POST /api​/Follow​/followList</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc5">POST /api​/Follow​/notifications​/test</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc6">POST ​/api​/Follow​/userSearch​/{id}​/follow</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc7">PUT ​/api​/Follow​/userSearch​/{id}​/unfollow
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc8">POST /api​/Follow​/property​/{id} </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc9">PUT /api​/Follow​/property​/{id}​/unfollow
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc10">POST ​/api​/Follow​/property​/followSearchResults
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc11">PUT /api​/Follow​/property​/unfollowSearchResults
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc12">POST /api​/Follow​/pipeline​/{id}</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc13">PUT ​/api​/Follow​/pipeline​/{id}​/unfollow
              </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc14">POST /api​/Follow​/pipeline​/followSearchResults
               </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc15">PUT /api​/Follow​/pipeline​/unfollowSearchResults
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc16">POST /api​/Follow​/management​/{id}</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc17">PUT /api​/Follow​/management​/{id}​/unfollow
          </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc18">POST ​/api​/Follow​/management​/followSearchResults
               </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc19">PUT /api​/Follow​/management​/unfollowSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc20">POST /api​/Follow​/directory​/{id} </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc21">PUT ​/api​/Follow​/directory​/{id}​/unfollow</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc22">POST /api​/Follow​/directory​/followSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc23">PUT /api​/Follow​/directory​/unfollowSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc24">POST ​/api​/Follow​/developer​/{id}</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc25">PUT /api​/Follow​/developer​/{id}​/unfollow</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc26">POST /api​/Follow​/developer​/followSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc27">PUT /api​/Follow​/developer​/unfollowSearchResults</a>
        </li>

        <li class="nav-header"><a href="{{ site.baseurl }}/docs/api_ref.html#notificationTitle">Notification Settings
                API</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc28">GET ​/api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc29">PUT /api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc30">POST /api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc31">DELETE /api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc32">PUT /api​/NotificationSetting​/token</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_ref.html#anc33">GET /api​/NotificationSetting​/token</a>
        </li>
    </ul>
</div>