<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs/concepts.html#anc1">Overview</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/concepts.html#anc2">Products</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/concepts.html#anc3">Timeline</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/concepts.html#anc4">Follow</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/concepts.html#anc5">Notification Settings</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/concepts.html#anc6">Notification</a>
        </li>
    </ul>
</div>
