<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html">Get Started</a>
        </li>

        <li class="nav-header">Follow products</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_phases.html">Follow a product</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_library_versions.html">Unfollow a product</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_samples.html">Follow a search</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_debugging.html">Follow search results</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_hosting_and_submissions.html">See all followed products</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_hosting_and_submissions.html">Unfollow all</a>
        </li>

        <li class="nav-header">Notification Settings</li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_multi_table_tutorial.html#page">Integration Key</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_oauth_tutorial.html">Product fields</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_standard_connections.html">Notification interval</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_join_filtering.html">Disable/enable</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_custom_init_and_shutdown.html">Send a test Zap</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/wdc_get_data.html">Sent notifications</a>
        </li>
    </ul>
</div>
