<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Introduction</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Setting Up Notification Settings</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Following Items (Individual/Search)</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Setting up Zapier</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Setting up Zapier Paths</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Conclusion and Test Zaps</a>
        </li>
    </ul>
</div>
