<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#getstarted">Get Started</a>
        </li>

        <li class="nav-header">Follow products</li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc1">Follow a product</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc2">Unfollow a product</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/index.html#anc4">Follow search results</a>
        </li>

        <li class="nav-header">Notification Settings</li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#page">Settings page</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#enabled">Enabled/Disabled</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#followed">Followed Items</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#followedsearches">Followed Searches</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#interval">Notifications interval</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#fields">Product Fields</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#integrationkey">Integration Key</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/notifications.html#ftestzap">Product Fields</a>
        </li>
    </ul>
</div>
