<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc1">Creating a Zap </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc2">Choose Smart Integration</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc3">Choose a Zap Event</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc4">Authentication</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc5">Testing the trigger</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc6">Notifications received</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc7">Integration or Path</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc8">Diverging to paths </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc9">Path A</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc10">Testing the path
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc11">3drd Party Integration on path A
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc12">Gmail example</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc13">Choosing data from notification
              </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc14">Publish Zap
               </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc15">Turn it On
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc16">Zap History</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc17">History list
          </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc18">Details
               </a>
        </li>
    </ul>
</div>