<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc1">Creating a Zap </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc2">Choose Smart Integration</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc3">Choose a Zap Event</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc4">Authentication</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc5">Testing the trigger</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc6">Notifications received</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc7">Integration or Path</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc8">Diverging to paths </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc9">PUT /api​/Follow​/property​/{id}​/unfollow
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc10">POST ​/api​/Follow​/property​/followSearchResults
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc11">PUT /api​/Follow​/property​/unfollowSearchResults
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc12">POST /api​/Follow​/pipeline​/{id}</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc13">PUT ​/api​/Follow​/pipeline​/{id}​/unfollow
              </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc14">POST /api​/Follow​/pipeline​/followSearchResults
               </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc15">PUT /api​/Follow​/pipeline​/unfollowSearchResults
                </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc16">POST /api​/Follow​/management​/{id}</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc17">PUT /api​/Follow​/management​/{id}​/unfollow
          </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc18">POST ​/api​/Follow​/management​/followSearchResults
               </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc19">PUT /api​/Follow​/management​/unfollowSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc20">POST /api​/Follow​/directory​/{id} </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc21">PUT ​/api​/Follow​/directory​/{id}​/unfollow</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc22">POST /api​/Follow​/directory​/followSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc23">PUT /api​/Follow​/directory​/unfollowSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc24">POST ​/api​/Follow​/developer​/{id}</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc25">PUT /api​/Follow​/developer​/{id}​/unfollow</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc26">POST /api​/Follow​/developer​/followSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc27">PUT /api​/Follow​/developer​/unfollowSearchResults</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc28">GET ​/api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc29">PUT /api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc30">POST /api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc31">DELETE /api​/NotificationSetting</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc32">PUT /api​/NotificationSetting​/token</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/zapier.html#anc33">GET /api​/NotificationSetting​/token</a>
        </li>
    </ul>
</div>